<!doctype html>
<html lang='es'>
    <head>
        <%- include('./templates/header')%>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <%- include('./templates/navbar')%>
                </div>
                <div class="card-body">
                    <%if(students.length){%>
                        <table class="table bm-2">
                            <thead>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Ciudad</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    <%}else{%>
                        <h5>No hay Registros</h5>
                    <%}%>
                    <button class="btn btn-primary">Agregar Registro</button>
                </div>
            </div>    
        </div>
        <%- include('./templates/footer')%>
    </body>
</html>
